@{
    ViewBag.Title = "Bienvenido";
}


<div class="jumbotron">
    <h1>Introducing Authy</h1>
    <p>This demo aims to test the benefits of two-factor authentication and it's implementation.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img width="140" height="140" class="img-circle center-block" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2 class="text-center">Informed</h2>
        <p class="text-justify">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p class="text-center"><a class="btn btn-default" role="button" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
        <img width="140" height="140" class="img-circle center-block" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <h2 class="text-center">Informed</h2>
        <p class="text-justify">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p class="text-center"><a class="btn btn-default" role="button" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
    <img width="140" height="140" class="img-circle center-block" alt="Generic placeholder image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
    <h2 class="text-center">Informed</h2>
    <p class="text-justify">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p class="text-center"><a class="btn btn-default" role="button" href="#">View details »</a></p>
</div><!-- /.col-lg-4 -->
</div>